@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-calendars/styles/material.css";
@import "../node_modules/@syncfusion/ej2-dropdowns/styles/material.css";
@import "../node_modules/@syncfusion/ej2-gantt/styles/material.css";
@import "../node_modules/@syncfusion/ej2-grids/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-layouts/styles/material.css";
@import "../node_modules/@syncfusion/ej2-lists/styles/material.css";
@import "../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-richtexteditor/styles/material.css";
@import "../node_modules/@syncfusion/ej2-treegrid/styles/material.css";

.main-container {
  padding: 2rem;
  height: 100vh;
  background-color: #2f74c0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  margin-bottom: 20px;
  border-radius: 5px;
}

.form-input {
  padding: 14px;
  border: 1px solid rgb(247, 247, 247);
  width: 100%;
}

.form-input:focus {
  box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.5);
  outline: none;
}

.form-submit-btn {
  padding: 6px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  position: absolute;
  right: 3%;
  border: none;
  background-color: #fff;
  color: #2f74c0;
  box-shadow: 0 0 10px #000;
}

.course-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 24rem;
  border-radius: 10px;
  border: 2px solid white;
  margin: 1rem 0;
  padding: 1rem;
  font-weight: bold;
  background-color: #ffc966;
}

.course-item:hover {
  box-shadow: 0px 0px 10px #000;
  transform: scale(1.05);
}

.course-item-col-1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.delete-btn {
  padding: 5px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.update-btn {
  padding: 5px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #ffedcc;
  padding: 60px;
  border-radius: 8px;
}

.close-modal-btn {
  margin-top: 10px;
}

.drag {
  box-shadow: 0 0 20px black;
}

.rdtPicker {
  background-color: rgb(207, 98, 98) !important;
}

.task-list-card {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f1b8b8;
}

.button-container {
  margin-bottom: 10px;
  display: flex;
  gap: 5px;
}

.button-container button {
  border: 1px solid #fff;
}

.gradient-btn {
  padding: 10px 15px;
  border: none;
  color: black;
  cursor: pointer;
  border-radius: 5px;
}

.high-priority {
  background: linear-gradient(to right, #ff6b6b, #fe9a8b);
}

.medium-priority {
  background: linear-gradient(to right, #fdcbf1, #fdabf1);
}

.low-priority {
  background: linear-gradient(to right, #a0c4ff, #a0a0ff);
}

.task-list-card ul {
  list-style: none;
  padding: 0;
}

.task-list-card li {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(226, 9, 9, 0.1);
  background-color: #a49d9d;
}
